<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h3>Listagem de contatos</h3>

          <div class="direita">
            <button
              type="button"
              class="btn btn-primary btn-rounded"
              mdbRipple
              (click)="new()"
            >
              Novo
            </button>
          </div>
          <br />

          <div class="row mb-3">
            <div class="col-md-4">
              <input type="text" class="form-control" placeholder="Buscar contato..." [(ngModel)]="searchTerm" (input)="search()">
            </div>
          </div>

          <table border="1" class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Celular</th>
                <th>Telefone</th>
                <th>Favorito</th>
                <th>Ativo</th>
                <th>Data Cadastro</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let contato of filteredContatos; trackBy: trackById">
                <td>{{ contato.id }}</td>
                <td>{{ contato.nome }}</td>
                <td>{{ contato.email }}</td>
                <td>{{ contato.celular }}</td>
                <td>{{ contato.telefone }}</td>
                <td>{{ contato.favorito }}</td>
                <td>
                  <span *ngIf="contato.ativo === 's'; else inativo"
                    class="badge badge-success rounded-pill d-inline">
                    Sim
                  </span>
                  <ng-template #inativo>
                    <span class="badge badge-danger rounded-pill d-inline">
                      Não
                    </span>
                  </ng-template>
                </td>
                <td>{{ contato.dataHoraCadastro | date: 'dd/MM/yyyy HH:mm' }}</td>
                <td>
                  <button
                    type="button"
                    class="btn btn-primary btn-rounded btn-sm"
                    mdbRipple
                    rippleColor="dark"
                    (click)="edit(contato)"
                  >
                    Editar
                  </button>
                  <button
                    type="button"
                    class="btn btn-danger btn-rounded btn-sm"
                    mdbRipple
                    rippleColor="dark"
                    (click)="deleteById(contato)"
                  >
                    Excluir
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalContatoDetalhe let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Agenda</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.close()"
    ></button>
  </div>
  <div class="modal-body">
    <app-contatosdetails
      [contato]="contatoEdit"
      (retorno)="retornoDetalhe()"
    ></app-contatosdetails>
  </div>
</ng-template>
